@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.addSection {
    padding-bottom: 5vw;

    @include respondTo(xs) {
    }

    .addForm {
        @include displayFlex(null, null, column);
        width: 60vw;
        max-width: 600px;
        min-width: 300px;
        margin: auto;
        text-align: start;

        .addFormDiv {
            @include displayFlex(null, null, column);
            margin-bottom: 20px;

            label {
                font-size: 25px;
                font-weight: 600;

                @include respondTo(sm) {
                    font-size: 20px;
                }
            }

            input {
                height: 50px;
                font-size: 20px;
                padding: 0 10px;
            }

            #pictures {
                padding: 0;
            }

            select {
                height: 50px;
                font-size: 20px;
                padding: 0 10px;
            }

            .preview-container {
                img {
                    width: 100px;
                    height: 100px;
                    margin-right: 10px;
                }
            }
        }
        

        .addBtn {
            width: 250px;
            height: 50px;
            margin: auto;
            border-radius: 50px;
            border: none;
            margin-top: 10px;
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 20px;
        }
    }
}