@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    right: 0;
    transition: right 0.20s ease-in-out;
  }
  
  .menu__btn {
   
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    padding-top: 20px;

    @include respondTo(xs) {
      padding-right: 15px;
    }
  
    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $primary-color;
      transition-duration: .25s;
    }
  
    > span::before {
      content: '';
      top: -8px;
    }
  
    > span::after {
      content: '';
      top: 8px;
    }
  }
  
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition: right 0.25s ease-in-out;

    .menu-ul {
      list-style: none;
      padding: 0;

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: $primary-color;
        font-size: $font-size-text-l;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        text-align: center;
        margin: 50px 0;
        cursor: pointer;
        
        a {
          display: block;
          position: fixed;
        }
      
        &:hover {
          background-color: #CFD8DC;
        }
      }
    }

    .menuLinks {
      @include displayFlex(center);

      .menuLinksBtn {
        border: none;
        margin: 10px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        @include displayFlex(null, center, column);
        font-size: $font-size-text-s;
        text-decoration: none;
        width: 50px;

        .menuTag {
          opacity: 0; 
          transition: opacity 0.2s ease-in-out;
          color: $primary-color;
        }
      
        &:hover {
          .menuTag {
            opacity: 1;
          }
      
          transform: scale(1.1);
        }

        .menuLinksBtnImg {
          width: 30px;
          height: 30px
        }
      }
    }
    
    .menuConnexion {
      text-align: center;
      margin-top: 15px;


      button {
        text-align: center;
        border: none;
        background-color: #ECEFF1;
        padding: 0;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  
  
  
  
