@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.contact {
    @include displayFlex(null, center, column);
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    padding: $padding-section;

    .my-form {
        height: 328px;
        width: 80%;
    }
}