@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.projetSection {
    padding: $padding-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: $secondary-color;

    h1 {
        margin: 0 5%;
    }
    .logoGit {
        width: 200px;
        margin: auto;
        margin-bottom: 4vw;

        @include respondTo(xs) {
            width: 100px;
        }
    }

    .tags {
        width: 300px;
        @include displayFlex(space-around);
        margin: auto;

        @include respondTo(xs) {
            width: 200px;
        }

        .tag {
            align-items: center;
            white-space: nowrap;
            background-color: #f7f7f7;
            padding: 8px 12px;
            border-radius: 20px;
            margin-right: 8px;
            box-shadow: 0 1px 1px rgba(0,0,0,.12);
            transition: box-shadow .2s,background-color .2s;
            user-select: none;

            @include respondTo(xs) {
                font-size: $font-size-text-s;
            }

            &:hover {
                box-shadow: 0 3px 3px rgba(0,0,0,.12);
            }
        }
    }

    .carouselContainer {
        width: 95%;
        margin-top: 2.5vw;
        @include displayFlex(center);

        .carouselBtn {
            border: none;
            background-color: $secondary-color;
            cursor: pointer;
            padding: none;

            @media screen and (max-width: 650px) {
                display: none;
            }

            .carouselBtnL {
                display: block;
                width: 25px;
                height: 25px;
                border-top: 5px solid $primary-color;
                border-left: 5px solid $primary-color;
                transform: rotate(-45deg);
            }

            .carouselBtnD {
                display: block;
                width: 25px;
                height: 25px;
                border-top: 5px solid $primary-color;
                border-left: 5px solid $primary-color;
                transform: rotate(135deg);
            }


        }

        .carouselProjet{
            width: 100%;
            margin: auto;
            overflow: hidden;
            box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);

            .box {
                width: 100%;
                height: 40vw;
                min-height: 300px;
                max-height: 600px;
                background-position: top;
                transition: ease-in-out 5s;
                margin: auto;

                @include respondTo(xs) {
                    width: 90%;
                }

                @media screen and (max-width: 450px) {
                    min-height: 200px;
                }
            }
        }

        .box1 {
            background-size: cover;
            height: 400px; 
            display: none; 
          
            &:hover {
              background-position: bottom;
            }
          }
          
          .box1.visible {
            display: block;           
          }
    }

    .projetAbout {
        padding: 4vw 0 0 0;
        width: 88%;
        margin: auto;

        @include respondTo(xs) {
            font-size: 12px;
            width: 90%;
        }
        
    }
}