// Couleurs
$primary-color: #0c0c0c;
$secondary-color: #fafafa;

// Font Sizes

$font-size-header-l: 80px;
$font-size-header-m: 60px;
$font-size-header-s: 40px;

$font-size-title-l: 70px;
$font-size-title-m: 50px;
$font-size-title-s: 30px;

$font-size-text-l: 20px;
$font-size-text-m: 18px;
$font-size-text-s: 15px;

// Paddings

$padding-section: 7vw 0;
$padding-title: 0 0 3vw 0;