@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

nav {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    position: fixed;
    @include displayFlex(space-between, center);
    z-index: 1;
    background-color: $secondary-color;
    top: 0;
    padding-left: 20px;
    

    .logoImg {
        width: 100px;
    }

    .homeLink {
        margin-right: 45px;
        text-decoration: none;
        color: $primary-color;
        font-size: $font-size-text-l;
        font-weight: 600;

        &:hover {
            font-weight: 800;
        }
    }
}